.result{
   display: inline-block;
   margin: 2em;
   background-color: white;
   padding: 1em;
   span::after{
      content: " ";
      display: block;
      width: 50%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      margin-left: 27%;
      margin-top: .3em;
   }
   a{
      text-decoration: none;
      color: rgb(144, 138, 138);
   }
}

.head{
   h2{
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 1em;
      padding: .2em;
      color: aliceblue;
   }
   background-image: url("https://fethica.github.io/BookSearch-React/img/bgheader.jpg");
   background-size: cover;
   
   .search{
      padding: 1em;

      Button{
         margin-left: 1%;
      }
      .input{
        box-shadow:'0 0 15px 0 red';
      }
      
   }
}

